/__pycache__/
*.py[cod]
*$py.class
.DS_Store

.vscode/

node_modules
bower_components
npm-debug.log
package-lock.json
public/bundle.*
.env

cache/
media
env/

public/dist/dev/

config.json

svelte-router